{% if current_user %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarUserInfoDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        {{ current_user["nickname"] }}
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserInfoDropdown">
        <a class="dropdown-item" href="{{ URL('user','profile') }}">{{ _("Profile") }}</a>
        <a class="dropdown-item link-logout" href="{{ URL('user','logout') }}">{{ _("Logout") }}</a>
    </div>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="{{ URL('user','login') }}">{{ _("Login") }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ URL('user','register') }}">{{ _("Register") }}</a>
</li>
{% end %}