<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ response.title or "" }}</title>
    <link rel="icon" href="{{ URL(config.STATIC_FILES_URL_PATH,'favicon.png') }}">

    <script src="{{ URL(config.STATIC_FILES_URL_PATH,'lib','jquery-3.4.1.min.js',vars=dict(app_version=config.APP_VERSION)) }}"></script>

    <link rel="stylesheet"
          href="{{ URL(config.STATIC_FILES_URL_PATH,'lib','fontawesome-free-5.11.2-web','css','all.min.css',vars=dict(app_version=config.APP_VERSION)) }}">
    <link rel="stylesheet"
          href="{{ URL(config.STATIC_FILES_URL_PATH,'lib','bootstrap-4.3.1-dist','css','bootstrap.min.css',vars=dict(app_version=config.APP_VERSION)) }}">
    <script src="{{ URL(config.STATIC_FILES_URL_PATH,'lib','bootstrap-4.3.1-dist','js','bootstrap.bundle.min.js',vars=dict(app_version=config.APP_VERSION)) }}"></script>
    <script src="{{ URL(config.STATIC_FILES_URL_PATH,'lib','vue.js',vars=dict(app_version=config.APP_VERSION)) }}"></script>

    <link rel="stylesheet"
          href="{{ URL(config.STATIC_FILES_URL_PATH,'css','style.css',vars=dict(app_version=config.APP_VERSION)) }}">

</head>
<body>
{% if response.alert %}
<div style="z-index: 1000000;position: fixed;width: 100%;top: 100px;display: flex;flex-direction: row;justify-content: center;">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ response.alert }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% end %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{ config.APP_NAME }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <script>$("<ul class='navbar-nav'></ul>").appendTo("#navbarSupportedContent").load("/user/ajax_info")</script>
</nav>

{% block body %}{% end %}
</body>
</html>